[submodule "dot-config/zsh/assets/custom/plugins/zsh-autocomplete"]
	path = dot-config/zsh/assets/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "dot-config/zsh/assets/custom/plugins/zsh-syntax-highlighting"]
	path = dot-config/zsh/assets/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dot-config/zsh/assets/custom/plugins/forgit"]
	path = dot-config/zsh/assets/custom/plugins/forgit
	url = https://github.com/wfxr/forgit.git
[submodule "dot-config/zsh/assets/custom/plugins/you-should-use"]
	path = dot-config/zsh/assets/custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "dot-config/btop/asserts/btop"]
	path = dot-config/btop/asserts/btop
	url = https://github.com/catppuccin/btop.git
[submodule "dot-config/bat/asserts/bat"]
	path = dot-config/bat/asserts/bat
	url = https://github.com/catppuccin/bat.git
[submodule "dot-config/yazi/asserts/yazi"]
	path = dot-config/yazi/asserts/yazi
	url = https://github.com/catppuccin/yazi.git
